body,
html {
    margin: 0;
    height: 100%;
    background-color: #0a6ebd;
    background-image: url("../../assets/img/background-sunsest-image-2.jpg");
    background-size: cover;
}

.user_card {
    height: 500px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 75px;
    background: rgba(250, 190, 88, 0.7);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    opacity: 0.9;
}
.brand_logo_container {
    /*position: absolute;*/
    /*height: 170px;*/
    /*width: 170px;*/
    /*top: -75px;*/
    /*border-radius: 50%;*/
    /*background: #60a3bc;*/
    /*padding: 10px;*/
    margin-bottom: 30px;
    text-align: center;
}

.brand_text {
    color: white;
    margin: auto;
    text-shadow: 1px 1px orange;
    font-family: Serif;
    font-size: 45px;
}
.brand_logo {
    height: 110px;
    width: 160px;
    opacity: 1 !important;
    /*border-radius: 50%;*/
    /*border: 2px solid white;*/
}
.form_container {
    margin-top: 20px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.custom-control-label {
    color: #0d47a1;
}

