<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo-magenta.png"/>
        </div>
        Magenta
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav nav-pills nav-sidebar flex-column">
        <li routerLinkActive="active" nav-item>
            <a class="nav-link" [routerLink]="['/dashboard']">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>

        <li class="divider"></li>
        <li class="navbar-header ml-5 mt-2">
            Audit Trail
        </li>
        <li routerLinkActive="active" nav-item>
            <a class="nav-link" [routerLink]="['/audittrail']">
                <i class="material-icons">event_note</i>
                <p>Audit Trail Log</p>
            </a>
        </li>

        <li class="divider"></li>
        <li class="navbar-header ml-5 mt-2">
            Chart
        </li>
        <li routerLinkActive="active" nav-item>
            <a class="nav-link" [routerLink]="['/audittrail-chart-changes-type-id-merch']">
                <i class="material-icons">bar_chart</i>
                <p>Chart By Changes Type</p>
            </a>
        </li>
        <li routerLinkActive="active" nav-item>
            <a class="nav-link" [routerLink]="['/audittrail-chart-changes-type-field']">
                <i class="material-icons">analytics</i>
                <p>Chart By Field</p>
            </a>
        </li>
    </ul>

</div>
