<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <label>Page: {{page+1}}</label>

        <button type="button" (click)="nextPrevious(-1)" class="ml-2 btn btn-light btn-sm">Previous</button>

        <!--      <button class="btn" data-toggle="button"-->
        <!--              *ngFor="let i of numbers(startFrom)" (click)="pagination(i)">{{i+1}}</button>-->

        <button type="button" (click)="nextPrevious(1)" class="btn btn-light btn-sm">Next</button>
      </div>

      <label class="ml-3 mt-1">Page Size:&nbsp; </label>
      <div>
        <select class="browser-default custom-select" name="pageSize" id="pageSize" [(ngModel)]="pageSize" (ngModelChange)="reloadData()">
          <option value="25" selected>&nbsp;25</option>
          <option value="50">&nbsp;50</option>
          <option value="100">&nbsp;100</option>
          <option value="200">&nbsp;200</option>
        </select>
      </div>

      <label for="changeTypes" class="ml-3 mt-1">Change Types:&nbsp; </label>
      <div>
        <select class="browser-default custom-select" name="changeTypes" id="changeTypes" [(ngModel)]="changeType" (ngModelChange)="reloadData()">
          <option value="ALL" selected>&nbsp;All</option>
          <option value="INS">&nbsp;Insert</option>
          <option value="UPD">&nbsp;Update</option>
          <option value="DEL">&nbsp;Delete</option>
        </select>
      </div>

      <div class="ml-5">
        <input type="text" [(ngModel)]="search">
        <button type="button" (click)="reloadData()" class="btn btn-primary btn-sm">Search</button>
      </div>


      <button type="button" (click)="exportToExcel()" class="btn btn-success btn-sm ml-5">Export this Page</button>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Audittrail Log</h4>
          </div>
          <div class="card-body">
            <div class="tableFixHead">
              <table class="table table-bordered table-sm mt-1" id="excel-table" style="width: 80%">
                <thead>
                <tr>
                  <th>No.</th>
                  <th>Id</th>
                  <th>Id Merch</th>
                  <th>Field</th>
                  <th>Old Value</th>
                  <th>New Value</th>
                  <th>Created Date</th>
                  <th>Created By</th>
                  <th>Created By Name</th>
                  <th>Created Terminal</th>
                  <th>Changes Type</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let audittrail of audittrails | async; index as i">
                  <td>{{(i+1)+(page*pageSize)}}</td>
                  <td>{{audittrail.id}}</td>
                  <td>{{audittrail.idFdmMerchant}}</td>
                  <td>{{audittrail.field}}</td>
                  <td>{{audittrail.oldValue}}</td>
                  <td>{{audittrail.newValue}}</td>
                  <td>{{audittrail.createdDate}}</td>
                  <td>{{audittrail.createdBy}}</td>
                  <td>{{audittrail.createdByName}}</td>
                  <td>{{audittrail.createdTerminal}}</td>
                  <td>{{audittrail.changesType}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
